---
http_interactions:
- request:
    method: get
    uri: https://soundcloud.com/oembed?format=json&url=https://soundcloud.com/forss/flickermood
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ba91251fc5e0f4527de4146a62e6ba88"
    body:
      encoding: ASCII-8BIT
      string: '{"version":1.0,"type":"rich","provider_name":"SoundCloud","provider_url":"https://soundcloud.com","height":400,"width":"100%","title":"Flickermood
        by Forss","description":"From the Soulhack album,&nbsp;recently featured in
        this ad <a href=\"https://www.dswshoes.com/tv_commercial.jsp?m=october2007\">https://www.dswshoes.com/tv_commercial.jsp?m=october2007</a>
        ","thumbnail_url":"https://i1.sndcdn.com/artworks-000067273316-smsiqx-t500x500.jpg","html":"<iframe
        width=\"100%\" height=\"400\" scrolling=\"no\" frameborder=\"no\" src=\"https://w.soundcloud.com/player/?visual=true&url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F293&show_artwork=true\"></iframe>","author_name":"Forss","author_url":"https://soundcloud.com/forss"}'
  recorded_at: Mon, 28 Oct 2024 10:21:22 GMT
recorded_with: VCR 6.3.1
