---
http_interactions:
- request:
    method: get
    uri: https://embed.spotify.com/oembed?format=json&url=http://open.spotify.com/track/298gs9ATwr2rD9tGYJKlQR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Origin-Trial:
      - AjTBCzHiqtNU3PxD6GL8VpVl68/SfxkZJuLQbbyvSNj6/o9VuhZ5EPb/2dTYqi+Mot0AD6XOHBeIatAwEt4lAQcAAABOeyJvcmlnaW4iOiJodHRwczovL29wZW4uc3BvdGlmeS5jb206NDQzIiwiZmVhdHVyZSI6IlRwY2QiLCJleHBpcnkiOjE3MzUzNDM5OTl9
      Critical-Origin-Trial:
      - Tpcd
      X-Middleware-Set-Cookie:
      - sp_t=a0f3176a0cef943e10248f0155e19e32; Path=/; Expires=Tue, 09 Dec 2025 13:59:00
        GMT; Max-Age=31536000; Domain=.spotify.com; Secure; SameSite=none,sp_landing=http%3A%2F%2Fembed.spotify.com%2Foembed%3Fsp_cid%3Da0f3176a0cef943e10248f0155e19e32%26device%3Ddesktop;
        Path=/; Expires=Tue, 10 Dec 2024 13:59:00 GMT; Max-Age=86400; Domain=.spotify.com;
        Secure; HttpOnly; SameSite=none
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"html":"<iframe style=\"border-radius: 12px\" width=\"100%\" height=\"152\"
        title=\"Spotify Embed: Dance Our Tears Away (feat. Kristin Amparo) - Radio
        Edit\" frameborder=\"0\" allowfullscreen allow=\"autoplay; clipboard-write;
        encrypted-media; fullscreen; picture-in-picture\" loading=\"lazy\" src=\"https://open.spotify.com/embed/track/298gs9ATwr2rD9tGYJKlQR?utm_source=oembed\"></iframe>","iframe_url":"https://open.spotify.com/embed/track/298gs9ATwr2rD9tGYJKlQR?utm_source=oembed","width":456,"height":152,"version":"1.0","provider_name":"Spotify","provider_url":"https://spotify.com","type":"rich","title":"Dance
        Our Tears Away (feat. Kristin Amparo) - Radio Edit","thumbnail_url":"https://image-cdn-ak.spotifycdn.com/image/ab67616d00001e02dc7755f577f76b1207e8d9f7","thumbnail_width":300,"thumbnail_height":300}'
  recorded_at: Mon, 09 Dec 2024 13:59:00 GMT
recorded_with: VCR 6.3.1
